/* --------------------css for all------------------------------------------------ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
:root {
    --primary : #fff;
    --secondary : #eee ;
    --accent : #86c232;
    --lite-black : #222629;
}
a , a:hover {
    text-decoration: none;
    color: var(--primary);
}
.text_center {
    text-align: center;
}
ul {
    list-style-type: none;
}

/* --------------------css for header and logo------------------------------------------------ */

.header {
    width: 100%;
    min-height: 10vh;
    position: relative;
    padding: 0 2%;
    background-color: #222629;
    color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row-reverse;
}
/* --------     logo    --------- */
.Logo {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    padding: 10px;
}
.Logo img {
    width: 70px;
}
.Logo a {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.Logo a span {
    padding: 10%;
    font-family :cursive;
    font-size: 2.5em;
    font-weight: bold;
}
.Logo a:hover {
    color: var(--accent);
}

/* ------   main anv section    -------- */

header nav {
    position: relative;
    padding: 2% 10% 2% 5%;
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.main_nav ul {
    list-style: none;
    padding: 15%;
    display: flex;
    text-align: left;
    position: relative;
}
.main_nav li {
    padding: 15%;
    display: flex;
    position: relative;
}
.main_nav a {
    font-size: 1.3em;
    font-weight: 800;
 }
 .main_nav a:hover {
    color: var(--accent);
}
.account {
    padding: 5% 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: left;
}
.account a {
    padding: 2%;
    font-size: 1em;
    font-weight: 700;
}
.account a:hover {
    color: var(--accent);
}
.fa-solid {
    position:absolute;
    font-size: 24px;
    opacity: 0;
}

/* --------      media query for header    ------- */
/* less than 768px */

@media only screen and (max-width: 768px) {
    .header {
        font-size: 14px;
    }
    .Logo img {
        width: 65px;
    }
    .Logo a span {
        font-size: 2.3em;
    }

    /* -------  nav section -------- */
    .fa-solid {
        opacity: 1;
    }
    .fa-xmark {
        right: 5%;
        top: 2%;
     }
     .fa-bars {
        left: 3%;
        top: 50%;
        transform: translateY(-50%);
     }
    header nav {
        padding: 2% 5% 2% 5% ;
        position: fixed;
        height: 100vh;
        width: 70%;
        background-color: var(--accent);
        left: 0%;
        top: 0;
        z-index: 1;
        flex-direction: column;
        text-align: center;
        justify-content: start;
        font-size: 1em;
    }
    .main_nav {
        width: 100%;
    }
    .main_nav a:hover {
        color: var(--lite-black);
    }
    .main_nav ul {
        flex-wrap: wrap;
        padding: 70px 0;
    }
    .main_nav li {
        justify-content: center;
        flex-basis: 100%;
        display: flex;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .main_nav li a {
        width: 90%;
        border-bottom: 0.5px solid var(--lite-black);
        text-align: center;
        padding-bottom: 2%;
    }
    .account {
        width: 100%;
        flex-wrap: wrap;
        flex-grow: 0;
        justify-content: center;
    }
    .account a {
        display: block;
        width: 60%;
        border-bottom: 0.5px solid var(--lite-black);
        margin-bottom: 10px;
        padding-bottom: 2%;
    }
    .account a:hover {
        color: var(--lite-black);
    }
    .account span{
        display: none;
    }
    
}

/* less than 768px */

@media only screen and (max-width: 600px) {
    .header {
        font-size: 13px;
    }
    .Logo img {
        width: 60px;
    }
    .Logo a span {
        font-size: 2.1em;
    }

    /* -------  nav section -------- */
    .fa-solid {
        font-size: 20px;
    }
}

/* less than 300px */

@media only screen and (max-width: 350px) {
    .header {
        font-size: 11px;
    }
    .Logo img {
        width: 50px;
    }
    .Logo a span {
        font-size: 1.9em;
    }
      /* -------  nav section -------- */

    .fa-solid {
        font-size: 17px;
    }
}