@font-face {
    font-family: 'changaregular';
    src: url('changa-regular/changa-regular-webfont.woff2') format('woff2'),
         url('changa-regular/changa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* --------------------css for all------------------------------------------------ */
html {
    direction: rtl;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
:root {
    --primary : #fff;
    --secondary : #eee ;
    --accent : #86c232;
    --lite-black : #222629;
}
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a , a:hover {
    text-decoration: none;
    color: #eee;
}

.text_center {
    text-align: center;
}

.container_full {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.container_80 {
    width: 80%;
    margin: 0 auto;
}

/* --------------------css for header and logo------------------------------------------------ */

.header {
    width: 100vw;
    height: 50vh;
    position: relative;
    padding: 0 2%;
    background-color: #222629;
    color: #eee;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.Logo {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.Logo img {
    width: 70px;
}

.Logo a {
    display: flex;
    align-items: center;
}

.Logo a span {
    padding: 15px;
    font-family :cursive;
    font-size: 2.5em;
    font-weight: bold;

}
.Logo a:hover {
    color: #86c232;
    /* font-size: 1.7em; */
    /* transform: translateX() 1sec; */
}
        /* ------   main anv section    -------- */
header nav {
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .main_nav ul {
     list-style: none;
     padding: 15px;
     display: flex;
     text-align: left;
 }
 .main_nav li {
     padding: 10px;
     display: flex;
 }

 .main_nav a {
    font-size: 1.3em;
    font-weight: 800;
 }

 .main_nav a:hover {
    color: #86c232;
}

.account {
    padding: 15px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: left;
}

.account a {
    padding: 5px;
    font-size: 1.2em;
    font-weight: 700;
}

.account a:hover {
    color: #86c232;
}

ul {
    list-style-type: none;
}

    /* ----------------css for cars search ----------------------------------------- */
 .cars_search {
     
     background-image: linear-gradient(to bottom ,#222629, #111);
     /* border: 2px solid red; */
 }

 .car_search {
    min-height: 10em;
    display: flex;
    justify-content:space-around;
    align-items: center;
 }
    .search_box {
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search_box .search_button {
        display: inline-block;
        padding: 20px;
        border-radius: 10px 0 0 10px;
        background-color: var(--accent);
        border: none;
        font-size: 1.3em;
        cursor: pointer;

    }

    .search_box button:hover {
        color: var(--primary);
    }

    .search_box input {
        width: 100%;
        padding: 20px;
        border: none;
        background-color: var(--secondary);
        color: var(--lite-black);
        border-radius: 0px 10px 10px 0;
        font-size: 1.3em;
        cursor: pointer;
    }

    .search_box input:focus {
        outline: 1px solid var(--accent);
    }

    /* filters boxs */
    .filters_box {
        /* background-color: white; */
        flex-basis: 40%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .filter_item {
        width: 33%;
        height: 65px;
        margin: 5px;
        background-color: var(--secondary);
        /* border: 2px solid red; */
        font-size: 20px;
        font-weight: lighter;
        position: relative;
        border-radius: 10px;
    }
    .filter_item:focus {
        outline: var(--accent);
    }
    .filter_type {
        padding: 20px 0px;
        user-select: none;
        /* text-align: right; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .filter_type::after {
        content: "";
        position: absolute;
        top: 55%;
        left: 10%;
        transform: translate(-50%, -50%);
        border: 8px solid;
        border-color: var(--accent) transparent transparent transparent;
    }

    .filter_item ul {
        display: none;
        position: absolute;
        background-color: white;
        top: 90px;
        max-width: 130px;
        padding: 10%;
        border-radius: 10px 10px 0 0;
        border-left: 0.5px solid #111;
        border-right: 0.5px solid #111;
    }

    .filter_item ul.active {
        display: block;
    }

    .filter_item ul li  {
        padding-bottom: 10%;
        user-select: none;
    }

    .filter_item ul li:last-child {
        padding-bottom: 0%;
    }

    .filter_item ul li a {
        color: black;
    }

    .fa-xmark {
       position: absolute;
       right: 10px;
       top: 10px;
    }
    .fa-solid {
        opacity: 1;
        font-size: 22px;
    }
    @media only screen and (max-width: 600px) {
        .fa-solid {
            opacity: 1;
        }
        /* ----     search filteres      ----- */
        .car_search {
            flex-direction: column-reverse;
        }
        .search_box {
            width: 80%;
            font-size: 15px;
        }
        .filters_box {
            width: 80%;
        }
        .filter_item {
            height: 40px;
            font-size: 15px;
        }
        .filter_type {
            padding: 12px 0px;
        }
        .filter_type::after {
            border: 5px solid;
            border-color: var(--accent) transparent transparent transparent;
        }

        /* -----    navigation section      ------- */
        header nav {
            /* width: 170px; */
            position: fixed;
            height: 100vh;
            width: 30%;
            background-color: var(--accent);
            left: -30%;
            top: 0;
            z-index: 1;
            flex-direction: column;
            text-align: center;
            justify-content: start;
            font-size: 15px;
        }
        .main_nav a:hover {
            color: var(--lite-black);
        }
        .main_nav ul {
            flex-wrap: wrap;
            padding: 70px 0;
        }
        .main_nav li {
            justify-content: center;
            flex-basis: 100%;
            display: flex;
            border-bottom: 0.5px solid var(--lite-black);
            margin-bottom: 10px;
            padding-bottom: 10px;
        }
        .account {
            flex-wrap: wrap;
            flex-grow: 0;
            justify-content: center;
        }
        .account a {
            display: block;
            width: 100%;
            border-bottom: 0.5px solid var(--lite-black);
            margin-bottom: 10px;
            padding-bottom: 10px;
        }
        .account a:hover {
            color: var(--lite-black);
        }
        .account span{
            display: none;
        }
    }